@model FinalProject.Models.Course

@{
    ViewData["Title"] = "Edit Course";
}

<h1>Edit Course</h1>

<hr />

<form asp-action="Edit" method="post">
    <div class="form-group">
        <label asp-for="Title" class="control-label"></label>
        <input asp-for="Title" style="width: 300px" class="form-control" />
        <span asp-validation-for="Title" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Credits" class="control-label mt-3"></label>
        <input asp-for="Credits" style="width: 300px" class="form-control" />
        <span asp-validation-for="Credits" class="text-danger"></span>
    </div>

    <div class="form-group">
        <input asp-for="CourseId" value="@Model.CourseId" type="hidden" class="form-control" />
    </div>

    <div class="form-group mt-3">
        <input type="submit" value="Save Changes" class="btn btn-primary" />
    </div>
</form>

<div style="">
    <a asp-action="Index" class="btn btn-primary mt-3" style="background-color:yellow; color:black;">Back to Course List</a>
</div>
